{% extends 'base.html.twig' %}

{% block title %}Hello PrestaController!{% endblock %}

{% block javascripts %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.1/index.global.js'></script>
<script>

    let url = '{{ path('app_user_presta_savehours') }}';

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            selectable: true,
            locale: 'fr',
            firstDay: 1,
            initialView: 'dayGridMonth',
            displayEventEnd:true,
            headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: ''
            },
            buttonText: {
                today: 'Aujourd\'hui',
                month: 'mois',
                week: 'semaine',
                list: 'Liste'
            },
            dateClick: function(info) {
                fetch('{{ path('app_presta_hours') }}', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        date: info.dateStr,
                        userId:{{ presta.id }},
                        categoryId:{{category.id}}
                    })
                })
                .then(function(header){
                    return header.json();
                })
                .then(function(body){
                    
                    let string = '';

                    body.forEach(val => {
                        let mine = "";
                        if(val.mine){
                            mine = " - Mon rendez vous";
                        }
                        if(val.isBooked){
                            string += "<li style=\"color:red\">" + val.start_hours + " - " + val.end_hours + " (déjà reservé)" + mine + "</li>";
                        }else{
                            string += "<li><a href=\"/reservation/" + val.id + "/{{ presta.id }}\">" + val.start_hours + " - " + val.end_hours + "</a></li>";
                        }
                    })

                    document.getElementById('listCreneau').innerHTML = string;


                })
            },
            events:[
                {% set i = 0 %}
                {% set tabDay = [] %}
                {% for event in presta.userOpenHours %}
                    {% if event.category.id == category.id %}
                        {% if i != 0 %}
                        ,
                        {% endif %}
                        {
                            start:'{{ event.OpenHours.startHours|date('Y-m-d')}}',
                            end:'{{ event.OpenHours.endHours|date('Y-m-d')}}',
                            {% if event.OpenHours.startHours|date('Y-m-d') not in tabDay %}
                                display: 'background',
                                color: 'green'
                            {% else %}
                                display: 'none'
                            {% endif %}
                        }
                        {% set tabDay = tabDay|merge([event.OpenHours.startHours|date('Y-m-d')]) %}
                        {% set i = i + 1 %}
                    {% endif %}
                {% endfor %}
            ]
        });
        calendar.render();
    });

</script>
{% endblock %}

{% block body %}
<h1>Ficher prestataire : {{ presta.firstname }} {{ presta.lastname }}</h1>
<hr>
<br>
<div class="row">
    <div class="col-6">
        <div id='calendar'></div>
    </div>
    <div class="col-6">
        <ul id="listCreneau">
            
        </ul>
    </div>
</div>
{% endblock %}
